

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: aquamarine;

  .app__message {
    font-weight: bold;
    width: 20rem;
    min-height: 3rem;
    color: rgb(255, 255, 255);
    border-radius: .2rem;
    padding: .3rem 0 .2rem .3rem;
    margin: .3rem 0 0 .1rem;
    background-color: #7953a8;
  }
}